$primary-color: rgb(52,58,64);
$secundary-color: rgb(248,249,250);
$ternary-color: rgb(171,172,174);

$light-color: #ffffff;
$dark-color: rgb(99, 103, 107);
$green-color: rgb(248,249,250);
$blue-color: rgb(112, 165,225);