@import "../../styles/mixins/colors.scss";
@import "../../styles/mixins/fonts.scss";
@import "../../styles/mixins/responsives.scss";

.nav{
    max-width: 300px;
    height: 100%;
    min-height: 100vh;
    padding: 1rem 2rem;
    background-color: $green-color;
    @include SizeSmall;

    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 5px;

    @include Tablet{
        max-width: 100%;
        min-height: 50px;
    }

    > a{
        font-size: 18px;
    }
}

.active{
    color: $blue-color;
}